@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

:root {
  --Yellow-color: #ffd500;
  --Background-color: #2b2d31;
}

/*  Slider-Section  */
.Progress-Bar {
  @apply bg-white w-[100%] absolute;
}
/*  Slider-Nav  */
.slider-container .Side-Nav {
  @apply text-right text-white absolute right-[10%] top-[30%] z-[100000];
}
.Uper-div {
  @apply leading-[50px];
}
.Uper-div h3 {
  @apply text-[68px] font-extralight;
}
.Uper-div h2 {
  @apply text-[19px] font-semibold text-[var(--Yellow-color)] cursor-pointer;
}
.Lower-div {
  @apply leading-[30px] pt-[15%];
}
.Lower-div p {
  @apply cursor-pointer font-medium;
}
/*  Slider-Nav  */
/*  Slider-Section  */
.slider-container {
  @apply relative overflow-hidden;
}
.slider {
  @apply flex;
}
.slider-content {
  @apply flex transition-transform duration-700 ease-linear;
}
.slider-section {
  @apply flex items-center justify-center w-screen h-screen;
}
.slider-button {
  @apply absolute top-[50%] translate-y-[-50%] bg-transparent border-none text-white text-[18px] cursor-pointer p-[10px];
  background-color: rgba(128, 128, 128, 0.2);
}
.slider-button.previous {
  @apply left-[0px];
}
.slider-button.next {
  @apply right-[0px];
}
.slider-progress {
  @apply h-[2px] bg-[var(--Yellow-color)] transition-all duration-700 ease-linear z-[100];
}
/*  Slider-Section  */

/*  Home-Page  */
.Home-Section {
  @apply h-screen bg-no-repeat bg-cover px-[10%] pt-[5%] text-white flex justify-between items-center flex-wrap;
  background-image: url("../public/img/BackgroundImage-1.jpg");
}
.Home-Section .heading {
  @apply w-[250px] z-[10];
}
.Home-Section .heading h2 {
  @apply text-[68px] leading-[80px] font-extralight;
}
.Home-Section .heading p {
  @apply text-[15px] pt-[17px] font-normal;
}
/*  Home-Page  */

/*  About-Page  */

/*  About-Section  */
.About-Section {
  @apply h-screen w-screen bg-no-repeat bg-cover px-[10%] pt-[10%] text-white relative;
  background-image: url("../public/img/BackgroundImage-2.jpg");
}
.About-Section h2 {
  @apply text-[68px] font-extralight w-min leading-[70px];
}
.About-Section .Second-div {
  @apply flex gap-10 justify-start items-start;
}
.About-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.About-Section .Second-div p {
  @apply text-[15px] w-[250px] pt-[17px] leading-7;
}
/*  About-Section  */
/*  Our-Value Section  */
.Our-Value-Section {
  @apply h-screen w-full flex;
}
.Our-Value-Section .Text-Box {
  @apply bg-[#2B2D31] pl-[8%] leading-[45px] py-[10px] flex items-center;
}
.Our-Value-Section .Text-Box p {
  @apply text-white text-[40px] w-[60%] font-extralight;
}
/*  Our-Value Section  */
/*  Work-Place Section  */
.Work-Place-Section {
  @apply h-screen w-full flex;
}
.Work-Place-Section .Text-Box {
  @apply bg-[#2B2D31] pl-[10%] py-[10%] flex flex-col justify-center w-[40%];
}
.Work-Place-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[70%] font-extralight leading-[60px];
}
.Work-Place-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[90%] font-medium leading-[30px];
}
/*  Work-Place Section  */
/*  History-Section  */
.History-Section {
  @apply h-screen w-full relative bg-[var(--Background-color)];
}
.History-Section .Text-Box {
  @apply flex flex-col justify-center gap-[20px] h-screen;
}
.History-Section .Text-Box .Evolution {
  @apply flex gap-[5%] px-[10%];
}
.History-Section .Image-Div {
  @apply absolute top-[20%] right-[20%];
}
/*  History-Section  */

/*  About-Page  */

/*  What-We-Do Page  */
/*  WhatWeDo-Section  */
.WWeDo-Section {
  @apply h-screen w-screen bg-[#33245d] px-[10%] pt-[10%] text-white relative;
}
.WWeDo-Section h2 {
  @apply text-[68px] font-extralight w-[25%] leading-[70px];
}
.WWeDo-Section .Second-div {
  @apply flex gap-10 justify-start items-start;
}
.WWeDo-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.WWeDo-Section .Second-div p {
  @apply text-[15px] w-[250px] pt-[17px] leading-7;
}
/*  WhatWeDo-Section  */
/*  Search Section  */
.Search-Section {
  @apply h-screen w-screen bg-[#33245d] px-[10%] pt-[10%] text-white relative;
}
.Search-Section .Text-Box {
  @apply pl-[10%] flex flex-col justify-center w-[40%];
}
.Search-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[70%] font-extralight leading-[60px];
}
.Search-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[90%] font-medium leading-[30px];
}
/*  Search Section  */
/*  Display-Search Page  */
.Display-Search-Section {
  @apply h-screen w-screen bg-[#33245d] px-[10%] text-white flex items-center gap-[10%];
}
.Display-Search-Section .Text-Box {
  @apply flex flex-col justify-center w-[30%];
}
.Display-Search-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[70%] font-extralight leading-[60px];
}
.Display-Search-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[90%] font-medium leading-[30px];
}
/*  Display-Search Page  */
/*  What-We-Do Page  */

/*  Team Page  */
/*  Team-Work Section  */
.TeamWork-Section {
  @apply h-screen bg-no-repeat bg-cover w-screen px-[10%] pt-[10%] text-white relative;
  background-image: url("../public/img/BackgroundImage-1.jpg");
}
.TeamWork-Section h2 {
  @apply text-[68px] font-extralight w-[25%] leading-[70px];
}
.TeamWork-Section .Second-div {
  @apply flex gap-10 justify-start items-start;
}
.TeamWork-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.TeamWork-Section .Second-div p {
  @apply text-[15px] w-[250px] pt-[17px] leading-7;
}
/*  Team-Work Section  */
/*  Expert-Team Section  */
.Expert-Team-Section {
  @apply h-screen w-full flex;
}
.Expert-Team-Section .Text-Box {
  @apply bg-[#37719f] pl-[5%] py-[10%] flex flex-col justify-center w-[50%];
}
.Expert-Team-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[45%] font-extralight leading-[60px];
}
.Expert-Team-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[45%] font-medium leading-[30px];
}
/*  Expert-Team Section  */
/*  Celebrating-Section */
.Celebrating-Section {
  @apply h-screen w-full flex relative;
}
.Celebrating-Section .Text-Box {
  @apply bg-[#37719f] pl-[10%] py-[10%] pt-[15%] flex flex-col justify-center w-[40%];
}
.Celebrating-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[70%] font-extralight leading-[60px];
}
.Celebrating-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[80%] font-medium leading-[30px];
}
/*  Celebrating-Section */
/*  Team Page  */
/* Partner-Brand Page  */
/*  Partner-Brand-Section */
.Partner-Brand-Section {
  @apply h-screen bg-no-repeat bg-cover w-screen px-[10%] pt-[10%] text-white relative;
  background-image: url("../public/img/Partner-Brand-BG.jpg");
}
.Partner-Brand-Section h2 {
  @apply text-[68px] font-extralight w-[25%] leading-[70px];
}
.Partner-Brand-Section .Second-div {
  @apply flex gap-10 justify-start items-start;
}
.Partner-Brand-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.Partner-Brand-Section .Second-div p {
  @apply text-[15px] w-[250px] pt-[17px] leading-7;
}
/*  Partner-Brand-Section */
/*  Our-Partner Section */
.Our-Partner-Section {
  @apply h-screen w-full flex;
}
.Our-Partner-Section .Text-Box {
  @apply bg-[#33806e] pl-[5%] py-[10%] flex flex-col justify-center w-1/2;
}
.Our-Partner-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[45%] font-extralight leading-[60px];
}
.Our-Partner-Section .Text-Box p {
  @apply text-white text-[15px] pt-[15px] w-[45%] font-medium leading-[30px];
}
/*  Our-Partner Section */
/*  Our-Brand Section */
.Our-Brand-Section {
  @apply h-screen w-full flex relative;
}
.Our-Brand-Section .Text-Box {
  @apply bg-[#33806e] pl-[15%] py-[10%] pt-[15%] flex flex-col justify-center w-[50%];
}
.Our-Brand-Section .Text-Box .heading {
  @apply text-white text-[48px] pt-[15px] w-[50%] font-extralight leading-[60px];
}
.Our-Brand-Section .Text-Box > p {
  @apply text-white text-[15px] pt-[15px] w-[60%] font-medium leading-[30px];
}
.Our-Brand-Section .Second-Text-Box h5 {
  @apply text-[24px] text-white pt-[5%];
}
.Our-Brand-Section .Second-Text-Box h3 {
  @apply text-[40px] text-white font-light;
}
.Our-Brand-Section .Second-Text-Box p {
  @apply text-[15px] text-white font-medium;
}
/*  Our-Brand Section */
/*  Career-Section  */
.Career-Section {
  @apply h-screen bg-no-repeat bg-cover w-screen px-[10%] pt-[10%] text-white relative;
  background-image: url("../public/img/Career-BG.jpg");
}
.Career-Section h2 {
  @apply text-[68px] font-extralight w-[25%] leading-[70px];
}
.Career-Section .Second-div {
  @apply flex gap-10 justify-start items-start;
}
.Career-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.Career-Section .Second-div p {
  @apply text-[15px] w-[280px] pt-[17px] leading-7;
}
/*  Career-Section  */
/*  Our-Culture Section  */
.Our-Culture-Section {
  @apply h-screen w-full flex;
}
.Our-Culture-Section .Text-Box {
  @apply bg-[#33806e] pl-[5%] py-[10%] flex flex-col justify-center w-[75%];
}
.Our-Culture-Section .Text-Box h4 {
  @apply text-white text-[48px] pt-[15px] w-[45%] font-extralight leading-[60px];
}
.Our-Culture-Section .Text-Box > p {
  @apply text-white text-[15px] pt-[15px] w-[70%] font-medium leading-[20px];
}
.Our-Culture-Section .Icons-Section {
  @apply grid w-[70%] justify-items-start text-[#fff] text-[14px] gap-5 pt-[5%];
  grid-template-columns: 30% 30% 30%;
}
.Icons-Section .Icon-Image {
  @apply h-[50px] w-[50px];
}
/*  Our-Culture Section  */
/*  Contact Page  */
/*  Contact Section  */
.Contact-Section {
  @apply h-screen bg-no-repeat bg-cover w-screen px-[10%] pt-[10%] text-white relative;
  background: linear-gradient(to right, #d91820, #f15a24) no-repeat;
}
.Contact-Section .Text-Box {
  @apply absolute bottom-[10%] z-40;
}
.Contact-Section h2 {
  @apply text-[68px] font-extralight w-[25%] leading-[70px];
}
.Contact-Section .Second-div {
  @apply flex gap-10 justify-start items-start flex-wrap;
}
.Contact-Section .Second-div h3 {
  @apply text-[170px] font-thin leading-[150px];
}
.Contact-Section .Second-div p {
  @apply text-[15px] w-[250px] pt-[17px] leading-7;
}
.Contact-Section .Image-Div {
  @apply absolute bottom-[20%] left-[40%] w-full;
}
/*  Contact Section  */
/*  Contact-Form Section  */
.Contact-Form-Section {
  @apply flex items-center justify-center pt-[8%];
}
.Contact-Form-Box {
  @apply flex items-center shadow-md shadow-gray-500 w-[80%];
}
.Info-Div {
  @apply w-[35%] py-[48px] px-[38px] h-[80vh] grid items-center;
  background: linear-gradient(to right, #d91820, #f15a24) no-repeat;
}
.Info-Div > h4 {
  @apply text-[28px] text-white font-medium;
}
.Info-Div > p {
  @apply text-[16px] text-gray-100;
}
.Info-Div .Content {
  @apply flex gap-5 items-start leading-7;
}
.Info-Div .Content .Icon-Div {
  @apply border border-[#ffffff7a] rounded-full p-[10px];
}
.Info-Div .Content p {
  @apply text-[16px] text-gray-100;
}
.Contact-Form {
  @apply w-[70%] p-8 leading-10 text-[#f15a24];
}
.Contact-Form h4 {
  @apply text-[28px] text-black font-medium;
}
.Contact-Form .Input-Div {
  @apply w-full flex gap-5 justify-around;
}
.Contact-Form .Input-Div input {
  @apply focus:border-orange-200 border-b border-gray-200 outline-none font-normal pr-[15px] pt-[10px] pb-[0px] w-1/2;
}
.Contact-Form > input {
  @apply focus:border-orange-200 border-b border-gray-200 outline-none font-normal pr-[15px] pt-[10px] pb-[0px] w-full;
}
.Contact-Form > textarea {
  @apply focus:border-orange-200 border-b border-gray-200 outline-none font-normal w-full pr-[15px] pt-[10px] pb-[0px];
}

.Contact-Form-Section button {
  @apply text-white font-medium rounded-md px-[15px] py-[3px] shadow-md shadow-gray-400;
  background: linear-gradient(to top, #d91820, #f15a24) no-repeat;
}
.Contact-Form-Section button:hover {
  @apply transition-all ease-in-out duration-1000;
  background: linear-gradient(to bottom, #d91820, #f15a24) no-repeat;
}
/*  Contact-Form Section  */
/*  Contact Page  */